<%- include header %>
        
<nav class="navbar navbar-light bg-light">
    <a href="/"><span class="navbar-brand mb-0 h1"><%- title %></span></a>
</nav>
<div class="container">
    <div class="col-1"></div>
    <div class="col-9 row" id="company">
        <div class="col-12">
            <h2 id='name'></h2>
            <h2 id='address'>商家地址:</h2>
            <h2 id='phone'>商家電話:</h2>
            <h2>商家服務:</h2>
            <table id="myTable" class="table table-responsive-sm table-bordered text-nowrap" width="100%"></table>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<script src="/javascripts/company.js"></script>
</body>